PORT=3001
FRONTEND_URL=http://localhost:5173

MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/votingApp
MONGODB_DB_NAME=votingApp-2025
MONGODB_FETCH_URI=mongodb+srv://user:password@cluster.mongodb.net/

CLOUD_NAME=your_cloudinary_cloud_name
CLOUD_API_KEY=your_cloudinary_api_key
CLOUD_API_SECRET=your_cloudinary_api_secret

VOTING_START_TIME=2025-06-22T12:50:00
VOTING_END_TIME=2025-06-22T17:00:00
